<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

 <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
<link href="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.css" type="text/css" rel="stylesheet" />
<script src="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark  fixed-top">
        
        <div class="container">
            <a class="navbar-brand">SkYe</a>
            
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link">{{currentdate_time}}</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto mt-5">
                    <h1 class="mb-5">{{city}} • {{temp}} &#176;C • Humidity: {{humidity}}%</h1>
                </div>
                <div class="col-md-12">
                    <ul class="social-network social-circle">
                        <li><a href="https://github.com/login" target="_blank" class="wGithub" title="GitHub"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://www.pinterest.com/" target="_blank" class="wPinterest" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="https://m.facebook.com/login/" target="_blank" class="wFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/login?lang=en" target="_blank" class="wTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.google.com/intl/en_in/gmail/about/" target="_blank" class="wGoogle" title="Gmail"><i class="fa fa-google"></i></a></li>
                        <li><a href="https://www.linkedin.com/login" target="_blank" class="wLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com/accounts/login/?hl=en" target="_blank" class="wInsta" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/" target="_blank" class="wYT" title="YouTube"><i class="fa fa-youtube"></i></a></li>
                    </ul>				
                </div>
            </div>
        </div>

<!-----------------------Sticky Notes--------------------->
    
                <div class="notes">
                    
                        <div class="one">
                            <h4>Notes:</h4>
                            
                                <textarea autofocus placeholder="Type Here..."></textarea>
                            
                        </div>
                      
                 
                </div>  
              <h5>SkYe &#169; 2020</h5>

              
              
  
    </header>


    
</body>